	<!--================ Start Brands Area =================-->
	<section class="brands-area section_gap_bottom">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-lg-12">
            <div class="owl-carousel brand-carousel">
              <!-- single-brand -->
              <div class="single-brand-item d-table">
                <div class="d-table-cell">
                  <img src="assets\img\skill_Icon\aspmvc.png" alt="">
                </div>
              </div>
              <!-- single-brand -->
              <div class="single-brand-item d-table">
                <div class="d-table-cell">
                  <img src="assets\img\skill_Icon\csharp.png" alt="">
                </div>
              </div>
              <!-- single-brand -->
              <div class="single-brand-item d-table">
                <div class="d-table-cell">
                  <img src="assets\img\skill_Icon\asp-net.png" alt="">
                </div>
              </div>
              <!-- single-brand -->
              <div class="single-brand-item d-table">
                <div class="d-table-cell">
                  <img src="assets\img\skill_Icon\microsoft-sql-server.svg" alt="">
                </div>
              </div>
              <!-- single-brand -->
              <div class="single-brand-item d-table">
                <div class="d-table-cell">
                  <img src="http://www.webcoderskull.com/img/icon/wp.svg" alt="">
                </div>
              </div>
              <!-- single-brand -->
              <div class="single-brand-item d-table">
                <div class="d-table-cell">
                  <img src="assets\img\skill_Icon\php.png" alt="">
                </div>
              </div>
               <!-- single-brand -->
               <div class="single-brand-item d-table">
                  <div class="d-table-cell">
                    <img src="assets\img\skill_Icon\GitHub.png" alt="">
                  </div>
                </div>
                 <!-- single-brand -->
              <div class="single-brand-item d-table">
                  <div class="d-table-cell">
                    <img src="assets\img\skill_Icon\jira.png" alt="">
                  </div>
                </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!--================ End Brands Area =================-->